<app-users-list></app-users-list>


<input type="text" id="message" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)"/>
<app-typing-animation *ngIf="this.typing" ></app-typing-animation>


<div style="text-align: center" class="chat-container" *ngFor="let item of items | async | orderBy: 'date' : true; let i = index">
  <div *ngIf="i<3">
    <strong>{{item.name}}</strong>

    <p [innerHTML]="item.message | innerHtml"></p>
    <p>{{item.date}}</p>
  </div>
</div>

<button (click)="clearMessages()">Clear Messages</button>
