<app-users-list></app-users-list>


<input [(ngModel)]="msgVal" type="text" id="message" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)"
/>
<div class="typing" *ngIf="this.typing">
  {{nameTyping}}
  <app-typing-animation></app-typing-animation>
</div>

<div style="text-align: center" class="chat-container" *ngFor="let item of items | async | orderBy: 'date' : true; let i = index">
  <div *ngIf="i<3">
    <strong>{{item.name}}</strong>

    <p [innerHTML]="item.message | innerHtml"></p>
    <p>{{item.date}}</p>
  </div>
</div>

<button (click)="clearMessages()">Clear Messages</button>
