.row {
  margin: 0;
  background-color: #fff;
}
div.post-container {
    padding-right: 30px;
    padding-left: 0;
  }

  .post {
    position: relative;
    background-color: #fff;
  }
  .post-name {
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #212121;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.68px;
  }
  
  .section-author-date {
    text-align: center;
    padding-bottom: 150px;
  }
  
  .post-author, .post-created {
    color: #999999;
    font-family: Hind;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 26.97px;
    display: inline;
    text-align: center;
  }
  .post-content > p {
    margin-bottom: 0 !important;
  }
  .sidebar { 
    padding: 20px;
    background-color: #fff;
  }