<div class="content" *ngFor="let article of articlesList">
  <span *ngIf="authService.user" class="fa fa-trash" (click)="delete(article._id.$oid)"></span>
  <span  *ngIf="authService.user" class="fa fa-edit" (click)="edit(article)"></span>
  <a [routerLink]="['/article', article._id.$oid]">{{article.name}}</a>
  <div class="info">
    <p class="description">{{article.description}}</p>
  </div>
  <div class="created">
    Added: {{article.created}}
  </div>
  <div class="share-widget">
    Share :
    <span class="fa fa-facebook"></span>
    <span class="fa fa-twitter"></span>
    <span class="fa fa-youtube-play"></span>
    <span class="fa fa-tumblr"></span>
  </div>
</div>

