<div class="content" *ngFor="let article of articlesList">
  <span class="fa fa-edit" (click)="edit(article)"></span>
  <h1>{{article.name}}</h1>
  <div class="info">
    <p class="description">{{article.description}}</p>
  </div>
  <div class="created">
    Added: {{article.created}}
  </div>
  <div class="share-widget">
    Share :
    <span class="fa fa-facebook"></span>
    <span class="fa fa-twitter"></span>
    <span class="fa fa-youtube-play"></span>
    <span class="fa fa-tumblr"></span>
  </div>
</div>