<form class="form-inline my-2 my-lg-0">
  <input [(ngModel)]="term" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="search" placeholder="Search articles" aria-label="Search">
</form>
<div class="content" *ngFor="let article of articlesList | filter:term">
  <span *ngIf="authService.user" class="fa fa-trash" (click)="delete(article._id.$oid)"></span>
  <span  *ngIf="authService.user" class="fa fa-edit" (click)="edit(article)"></span>
  <a [routerLink]="['/article', article._id.$oid]">{{article.name}}</a>
  <div class="info">
    <p class="description">{{article.description}}</p>
  </div>
  <div class="created">
    Added: {{article.created}}, <br />
    by: {{article.userName}}
  </div>
  <div class="share-widget">
    Share :
    <span class="fa fa-facebook"></span>
    <span class="fa fa-twitter"></span>
    <span class="fa fa-youtube-play"></span>
    <span class="fa fa-tumblr"></span>
  </div>
</div>

