@import url('https://fonts.googleapis.com/css?family=Hind:400,500|Montserrat:700');

html,body{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img {
  height: 40px;
  cursor: pointer;
}
.share-widgets {
  position: absolute;
  right: 0;
}
.share-widgets a {
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.19px;
}
.share-icon {
  padding-left: 10px;
  padding-right: 10px;
}
.share-icon i:hover {
  color: #d2d2d3;
}
.navbar{
  background-color: #212429;
}
div.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #E8EAF6;
}
nav{
  width: 100%;
}

/* SEARCH BUTTON */
input[type=search] {
	background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #fff;
	padding: 9px 10px 9px 32px;
	width: 55px;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #d2d2d3;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #d2d2d3;
}
input::-webkit-input-placeholder {
	color: #d2d2d3;
}
.form-search input {
	outline: none;
}
.form-search input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.form-search input::-webkit-search-decoration,
.form-search input::-webkit-search-cancel-button {
	display: none; 
}
.form-search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
.form-search input[type=search]:hover {
	background-color: #fff;
}
.form-search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
.form-search input:-moz-placeholder {
	color: transparent;
}
.form-search input::-webkit-input-placeholder {
	color: transparent;
}


/* #Media Queries
=============================*/
@media only screen and (min-width: 768px){
  div.content{
    width: 500px;
  }
}
@media only screen and (max-width: 380px){
  div.top-navbar{
    padding: 10px;
  }
  div.content{
    top: 80px;
    width: 80%;
    padding: 19px;
  }
  div.content p{
    width: 100%;
  }
}