@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

html,body{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eee;
}
nav{
  width: 100%;
  background-color: #14659b;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #14659b;
}

div.footer{
  padding: 10px;
  width: 100%;
  color: #fff;
  background-color: #14659b;
  bottom: 0;
  text-align: center;
  font-family: Lato;
}
div.footer a{
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
div.footer a:hover{
  color: #333;
}



/* #Media Queries
=============================*/
@media only screen and (min-width: 768px){
  div.content{
    width: 500px;
  }
}
@media only screen and (max-width: 380px){
  div.top-navbar{
    padding: 10px;
  }
  div.band{
    height: 10px;
    background-image: none;
    background-color: rgba(0,0,0,0.1);
  }
  div.content{
    top: 80px;
    width: 80%;
    padding: 19px;
    padding-bottom: 60px;
  }
  div.content p{
    width: 100%;
  }
  div.share-widget{
    margin: auto;
    left: 0;
    right: 0;
    width: 90%;
  }
}