<div class="row">
    <div class="post-container col-md-8">
        <div class="post">
            <h1 class="post-name">{{this.article.name}}</h1>
            <div class="section-author-date">
                <p class="post-author">
                    <i class="fa fa-user"></i>{{this.article.userName}}</p>
                <p class="post-created">
                    <i class="fa fa-calendar"></i>{{this.article.created | date: 'dd-MM-yyyy'}}</p>
            </div>
            <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
            <div class="post-content" [innerHTML]="this.article.content | innerHtml"></div>
        </div>
    </div>

    <div class="sidebar col-md-4">
        <app-sidebar></app-sidebar>
    </div>
</div>