<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addArticle(rForm.value)">
    <h1 class="form-heading">Add Article</h1>
    <div class="form-group">
      <label>Name
        <input class="form-control" type="text" formControlName="name" [value]=this.artName>
      </label>
      <small class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</small>
      <div class="form-group">
        <label>Description
          <textarea class="form-control" formControlName="description" [value]=this.artDescription></textarea>
        </label>
        <small class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 10 and 40 characters.</small>
      </div>
      <div class="form-group">
        <app-ngx-editor formControlName="content" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="this.artContent"></app-ngx-editor>
        <small class="alert" *ngIf="!rForm.controls['content'].valid && rForm.controls['content'].touched">You must specify a content that's between 30 and 500 characters.</small>
      </div>
      <input type="submit" class="btn btn-primary form-control" value="Submit" [disabled]="!rForm.valid">
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>

</ng-template>