.wrapper {
    position: relative;
    padding: 20px;
  }
  .wrapper img {
    width: 70px;
    cursor: pointer;
    transition: transform 250ms ease;
  }
  .wrapper img:hover {
    transform: scale(2);
    transition: transform 250ms ease;
  }
  .react {
    cursor: pointer;
    padding: 15px;
  }
  .react-word:hover {
    text-decoration: underline;
  }
  .emojis {
    position: absolute;
    top: -50px;
    left: 120px;
    padding-left: 15px;
    background: white;
    border: 1px lightgray solid;
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.45);
    border-radius: 80px;
    display: inline-block;
    width: 500px;
    z-index: 2;
  }
  .reactions {
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    display: table;
    margin: 0 auto;
  }
  .reaction-counts {
    height: 100px;
    display: inline;
    float: left;
  }
  .reaction-counts img {
    position: relative;
    bottom: -10px;
    width: 32px;
  }
  @media only screen and (max-width: 767px){
    .wrapper{
      text-align: left;
    }
    .emojis{
      width: 180px;
    }
    .reactions {
      display: block;
    }
  }